# Ignore node_modules directory
node_modules/
package-lock.json
# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore build artifacts
/build/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
